In [1072]:
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
%matplotlib inline
import os
os.chdir("/Volumes/General Har/Data_Sets/rpcsv")

In [1073]:
ds = pd.read_csv('hospital_patients.csv')

In [1074]:
pd.Series(ds.columns)

0                 encounter_id
1                  patient_nbr
2                         race
3                       gender
4                          age
5                       weight
6            admission_type_id
7     discharge_disposition_id
8          admission_source_id
9             time_in_hospital
10                  payer_code
11           medical_specialty
12          num_lab_procedures
13              num_procedures
14             num_medications
15           number_outpatient
16            number_emergency
17            number_inpatient
18                      diag_1
19                      diag_2
20                      diag_3
21            number_diagnoses
22               max_glu_serum
23                   A1Cresult
24                   metformin
25                 repaglinide
26                 nateglinide
27              chlorpropamide
28                 glimepiride
29               acetohexamide
30                   glipizide
31                   glyburide
32                 tolbutamide
33                pioglitazone
34               rosiglitazone
35                    acarbose
36                    miglitol
37                troglitazone
38                  tolazamide
39                     examide
40                 citoglipton
41                     insulin
42         glyburide-metformin
43         glipizide-metformin
44    glimepiride-pioglitazone
45     metformin-rosiglitazone
46      metformin-pioglitazone
47                      change
48                 diabetesMed
49                  readmitted
dtype: object

In [1075]:
final_list=['age','time_in_hospital','num_medications','number_diagnoses','metformin',
           'chlorpropamide','glimepiride','tolazamide','insulin','race','admission_type_id',
           'admission_source_id','max_glu_serum','A1Cresult','readmitted']

In [1076]:
len(final_list)

15

In [1077]:
ds=ds[final_list]

In [1078]:
ds

,age,time_in_hospital,num_medications,number_diagnoses,metformin,chlorpropamide,glimepiride,tolazamide,insulin,race,admission_type_id,admission_source_id,max_glu_serum,A1Cresult,readmitted
0,[0-10),1,1,1,No,No,No,No,No,Caucasian,6,1,None,None,NO
1,[10-20),3,18,9,No,No,No,No,Up,Caucasian,1,7,None,None,>30
2,[20-30),2,13,6,No,No,No,No,No,AfricanAmerican,1,7,None,None,NO
3,[30-40),2,16,7,No,No,No,No,Up,Caucasian,1,7,None,None,NO
4,[40-50),1,8,5,No,No,No,No,Steady,Caucasian,1,7,None,None,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,[70-80),3,16,9,Steady,No,No,No,Down,AfricanAmerican,1,7,None,>8,>30
101762,[80-90),5,18,9,No,No,No,No,Steady,AfricanAmerican,1,5,None,None,NO
101763,[70-80),1,9,13,Steady,No,No,No,Down,Caucasian,1,7,None,None,NO
101764,[80-90),10,21,9,No,No,No,No,Up,Caucasian,2,7,None,None,NO
101765,[70-80),6,3,9,No,No,No,No,No,Caucasian,1,7,None,None,NO

In [1079]:
ds['age'] = ds['age'].replace('[70-80)', '70-80')
ds['age'] = ds['age'].replace('[60-70)', '60-70')
ds['age'] = ds['age'].replace('[50-60)', '50-60')
ds['age'] = ds['age'].replace('[0-10)', '0-10')

ds['age'] = ds['age'].replace('[80-90)', '80-90')
ds['age'] = ds['age'].replace('[40-50)', '40-50')
ds['age'] = ds['age'].replace('[30-40)', '30-40')

ds['age'] = ds['age'].replace('[90-100)', '90-100')
ds['age'] = ds['age'].replace('[20-30)', '20-30')
ds['age'] = ds['age'].replace('[10-20)', '10-20')

In [1080]:
ds.dtypes

age                    object
time_in_hospital        int64
num_medications         int64
number_diagnoses        int64
metformin              object
chlorpropamide         object
glimepiride            object
tolazamide             object
insulin                object
race                   object
admission_type_id       int64
admission_source_id     int64
max_glu_serum          object
A1Cresult              object
readmitted             object
dtype: object

In [1081]:
ds.isna().sum()

age                    0
time_in_hospital       0
num_medications        0
number_diagnoses       0
metformin              0
chlorpropamide         0
glimepiride            0
tolazamide             0
insulin                0
race                   0
admission_type_id      0
admission_source_id    0
max_glu_serum          0
A1Cresult              0
readmitted             0
dtype: int64

In [1082]:
cat_col=['age','metformin','chlorpropamide','glimepiride','tolazamide','insulin','race',
        'max_glu_serum','A1Cresult','admission_type_id'
         ,'admission_source_id']

In [1083]:
for ele in cat_col:
    print(ds[ele].value_counts())

70-80     26068
60-70     22483
50-60     17256
80-90     17197
40-50      9685
30-40      3775
90-100     2793
20-30      1657
10-20       691
0-10        161
Name: age, dtype: int64
No        81778
Steady    18346
Up         1067
Down        575
Name: metformin, dtype: int64
No        101680
Steady        79
Up             6
Down           1
Name: chlorpropamide, dtype: int64
No        96575
Steady     4670
Up          327
Down        194
Name: glimepiride, dtype: int64
No        101727
Steady        38
Up             1
Name: tolazamide, dtype: int64
No        47383
Steady    30849
Down      12218
Up        11316
Name: insulin, dtype: int64
Caucasian          76099
AfricanAmerican    19210
?                   2273
Hispanic            2037
Other               1506
Asian                641
Name: race, dtype: int64
None    96420
Norm     2597
>200     1485
>300     1264
Name: max_glu_serum, dtype: int64
None    84748
>8       8216
Norm     4990
>7       3812
Name: A1Cresult, dtype: int64
1    53990
3    18869
2    18480
6     5291
5     4785
8      320
7       21
4       10
Name: admission_type_id, dtype: int64
7     57494
1     29565
17     6781
4      3187
6      2264
2      1104
5       855
3       187
20      161
9       125
8        16
22       12
10        8
11        2
14        2
25        2
13        1
Name: admission_source_id, dtype: int64

In [1084]:
ds.dtypes

age                    object
time_in_hospital        int64
num_medications         int64
number_diagnoses        int64
metformin              object
chlorpropamide         object
glimepiride            object
tolazamide             object
insulin                object
race                   object
admission_type_id       int64
admission_source_id     int64
max_glu_serum          object
A1Cresult              object
readmitted             object
dtype: object

In [1085]:
num_cols=['time_in_hospital','num_medications','number_diagnoses']

In [1086]:
for ele in num_cols:
    print(ds[ele].value_counts())

3     17756
2     17224
1     14208
4     13924
5      9966
6      7539
7      5859
8      4391
9      3002
10     2342
11     1855
12     1448
13     1210
14     1042
Name: time_in_hospital, dtype: int64
13    6086
12    6004
11    5795
15    5792
14    5707
      ...
70       2
75       2
74       1
79       1
81       1
Name: num_medications, Length: 75, dtype: int64
9     49474
5     11393
8     10616
7     10393
6     10161
4      5537
3      2835
2      1023
1       219
16       45
10       17
13       16
11       11
15       10
12        9
14        7
Name: number_diagnoses, dtype: int64

In [1087]:
#Now will Scale the numeric columns and will encode the categorical columns

In [1088]:
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import LabelEncoder

In [1089]:
ds['readmitted'] = ds['readmitted'].replace('>30', 0)
ds['readmitted'] = ds['readmitted'].replace('<30', 1)
ds['readmitted'] = ds['readmitted'].replace('NO', 2)

In [1090]:
X=ds.drop('readmitted',axis='columns')

In [1091]:
transformer = make_column_transformer(    #Transforming
    (MinMaxScaler(),num_cols),
    (OneHotEncoder(),cat_col)
)

In [1092]:
ydroplist=num_cols+cat_col
y=ds.drop(ydroplist,axis='columns')
y

        readmitted
0                2
1                0
2                2
3                2
4                2
...            ...
101761           0
101762           2
101763           2
101764           2
101765           2

[101766 rows x 1 columns]

In [1093]:

transformer1=make_column_transformer(
    (OneHotEncoder(),['readmitted'])
)
transformer1.fit(y)
y=transformer1.transform(y)

In [1094]:
transformer.fit(X)

ColumnTransformer(transformers=[('minmaxscaler', MinMaxScaler(),
                                 ['time_in_hospital', 'num_medications',
                                  'number_diagnoses']),
                                ('onehotencoder', OneHotEncoder(),
                                 ['age', 'metformin', 'chlorpropamide',
                                  'glimepiride', 'tolazamide', 'insulin',
                                  'race', 'max_glu_serum', 'A1Cresult',
                                  'admission_type_id',
                                  'admission_source_id'])])

In [1095]:
X=transformer.transform(X)

In [1096]:
#X=transformer.transform(X)

In [1097]:
ds.readmitted

0         2
1         0
2         2
3         2
4         2
         ..
101761    0
101762    2
101763    2
101764    2
101765    2
Name: readmitted, Length: 101766, dtype: int64

In [1098]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [1099]:
from keras.models import Sequential
from keras.layers import Dense
model=Sequential()

In [1100]:
model.add(Dense(input_dim=71,activation='relu',units=60, kernel_initializer='random_uniform')) #Input Layer

In [1101]:
for i in range(4):
    model.add(Dense(activation='relu',units=60, kernel_initializer='random_uniform')) #Hidden Layer

In [1102]:
model.add(Dense(activation='softmax',units=3,kernel_initializer='random_uniform')) #Output Layer

In [1103]:
model.compile(optimizer='adam', loss='categorical_crossentropy',metrics=['accuracy']) #adam=batch g

In [1104]:
model.fit(x_train,y_train,epochs=2,batch_size=32)

Epoch 1/2
2545/2545 [==============================] - 6s 2ms/step - loss: 0.9402 - accuracy: 0.5387
Epoch 2/2
2545/2545 [==============================] - 8s 3ms/step - loss: 0.9314 - accuracy: 0.5395

In [1105]:
x_train.shape

(81412, 71)

In [1106]:
import joblib
joblib.dump(transformer, "data_transformer.joblib")
model.save("price_prediction_model.h5")

In [1107]:
# Why was this line wrong? from tensorflow import keras.models.load_model
from tensorflow import keras
model = keras.models.load_model("price_prediction_model.h5")
transformer = joblib.load("data_transformer.joblib")

In [1108]:
ds.columns

Index(['age', 'time_in_hospital', 'num_medications', 'number_diagnoses',
       'metformin', 'chlorpropamide', 'glimepiride', 'tolazamide', 'insulin',
       'race', 'admission_type_id', 'admission_source_id', 'max_glu_serum',
       'A1Cresult', 'readmitted'],
      dtype='object')

In [1109]:
newdict={
    'age': ['70-80'],
    'time_in_hospital': [3],
     'num_medications': [16],
     'number_diagnoses': [9],
     'metformin':['Steady'],
     'chlorpropamide':['No'],
     'glimepiride':['No'],
     'tolazamide':['No'],
     'insulin':['Down'],
      'race':['AfricanAmerican'],
     'admission_type_id':[1],
     'admission_source_id':[7],
     'max_glu_serum':['None'],
    'A1Cresult':['None']
}
    
    
newds=pd.DataFrame(newdict)
newds

,age,time_in_hospital,num_medications,number_diagnoses,metformin,chlorpropamide,glimepiride,tolazamide,insulin,race,admission_type_id,admission_source_id,max_glu_serum,A1Cresult
0,70-80,3,16,9,Steady,No,No,No,Down,AfricanAmerican,1,7,None,None

In [1110]:
prediction = model.predict(transformer.transform(newds))

In [1111]:
print(prediction)

[[0.38410878 0.11974689 0.49614432]]

In [1112]:
maxElement = np.amax(prediction)
maxElement


max_index_col = np.argmax(prediction, axis=1) # This is how you do it
print(max_index_col)

[2]

In [1113]:
ds

,age,time_in_hospital,num_medications,number_diagnoses,metformin,chlorpropamide,glimepiride,tolazamide,insulin,race,admission_type_id,admission_source_id,max_glu_serum,A1Cresult,readmitted
0,0-10,1,1,1,No,No,No,No,No,Caucasian,6,1,None,None,2
1,10-20,3,18,9,No,No,No,No,Up,Caucasian,1,7,None,None,0
2,20-30,2,13,6,No,No,No,No,No,AfricanAmerican,1,7,None,None,2
3,30-40,2,16,7,No,No,No,No,Up,Caucasian,1,7,None,None,2
4,40-50,1,8,5,No,No,No,No,Steady,Caucasian,1,7,None,None,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101761,70-80,3,16,9,Steady,No,No,No,Down,AfricanAmerican,1,7,None,>8,0
101762,80-90,5,18,9,No,No,No,No,Steady,AfricanAmerican,1,5,None,None,2
101763,70-80,1,9,13,Steady,No,No,No,Down,Caucasian,1,7,None,None,2
101764,80-90,10,21,9,No,No,No,No,Up,Caucasian,2,7,None,None,2
101765,70-80,6,3,9,No,No,No,No,No,Caucasian,1,7,None,None,2

In [1114]:
for n in enumerate(newds.dtypes):
    print(n)

(0, dtype('O'))
(1, dtype('int64'))
(2, dtype('int64'))
(3, dtype('int64'))
(4, dtype('O'))
(5, dtype('O'))
(6, dtype('O'))
(7, dtype('O'))
(8, dtype('O'))
(9, dtype('O'))
(10, dtype('int64'))
(11, dtype('int64'))
(12, dtype('O'))
(13, dtype('O'))

In [1115]:
newds['A1Cresult'].value_counts()

None    1
Name: A1Cresult, dtype: int64

In [1116]:
ds.dtypes

age                    object
time_in_hospital        int64
num_medications         int64
number_diagnoses        int64
metformin              object
chlorpropamide         object
glimepiride            object
tolazamide             object
insulin                object
race                   object
admission_type_id       int64
admission_source_id     int64
max_glu_serum          object
A1Cresult              object
readmitted              int64
dtype: object